/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/10/2019, 12:28:45 AM
    Author     : juanc
*/

body{
    background-color:activecaption
}
p{
    text-align:center;
}
h1{
    text-align: center;
    color:#004E89;
    font-family:sans-serif;
    font-size:70px;
}
h2{
    text-align: center;
    font-family:serif;
}
h3{
    text-align: center;
}
.action {
  text-align: center;
  margin-top: 30px;
}

.action a {
  background-color: #9DD1F1;
  border-radius: 3px;
  color: #004E89;
  font-family: 'Yantramanav', sans-serif;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin: 10px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.action2 {
  text-align: center;
  margin-top: 30px;
}
.action2 a {
  background-color: darkgrey;
  border-radius: 3px;
  color: black;
  font-family: 'Yantramanav', sans-serif;
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  margin: 5px;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}